<form class="form-horizontal">
    <fieldset>
    <legend>New Wish</legend>
    <div class="control-group">
        <label class="control-label">Wish:</label>
        <div class="controls">
            <input type="text" name="wish" placeholder="By happy" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a href="#/wishlist" class="btn"><i class="icon-circle-arrow-left"></i> Back</a>
            <button type="submit" id="btn-wish" class="btn"><i class="icon-thumbs-up"></i> Save</button>
        </div>
    </div>
    </fieldset>
</form>